<!-- In header -->
<div id="home-bg">
  <div id="img-div">
    <img src="https://i.ytimg.com/vi/ZxsSPnxuizg/maxresdefault.jpg" alt="">

  </div>
</div>

<div id="tagline-div">SPORTS DOCTOR: AN INJURY RISK ASSESSOR
</div>

<div id="about-us-div">
  <h2 class="about-us-header">About Us</h2>
  <p class="about-us-paragraph">At Sports Doctor, we analyze the risk of injuries in collegiate and professional athletes. The goal is to equate a player's biometrics, injury history, and the spectrum of injuries associated at their position to determine if a player is at risk of injury or reinjury. We use an algorithm to identify certain key parameters such as age, weight, injury history, minutes played, amongst other identifiers to output a risk percentage.
  </p>
</div>
<br>
<div id="home-div-3">
  <h2 class="about-us-header">Search Players</h2>
  <p class="about-us-paragraph">Search through a few of the NBA Draft candidates. Check the values given to each player. Receive an injury risk percentage.</p>
  <div id="button-div">
    <a id="searchButton" href="/players"><button type="button" name="button">ENTER</button></a>
  </div>
</div>
