<!-- In header -->
<div id="img-div">
  
</div>
<div id="about-us-div">
  <h2 id="about-us-header">About Us</h2>
  <p id="about-us-paragraph">At Sports Doctor, we analyze the risk of injuries in collegiate and professional athletes. The goal is to equate a player's biometrics, injury history, and the spectrum of injuries associated at their position to determine if a player is at risk of injury or reinjury. We use algorithms to identify certain key parameters such as age, weight, injury history, minutes played, amongst other identifiers to output a risk percentage.
  </p>
</div>
<div id="home-div-3">
  <div id="button-div">
    <a id="searchButton" href="/players"><button type="button" name="button">SEARCH PLAYERS</button></a>
  </div>
</div>
