<h1 id="players-header">Players</h1>
<h2 id="choose-player-header">Select Lottery Draft Candidate</h2>
<!-- Displays a list of players as links to their own show page -->
<div id="players-list-div">
  <ol>
    <% @players.each do |player| %>
      <li><a class="players-list"href="/players/<%= player.id %>"><%= player.name %></a>
      <br>
      </li>
    <% end %>
  </ol>
</div>
