/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: #e6e8ed;
}

#logo-div {
  font-size: 28px;
  font-family: 'Sonsie One', cursive;
  color: white;
  text-shadow: 4px 4px #e82929;
  text-align: left;
  padding: 20px 0px;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: white;
}
/* Nav bar used on all pages */
.navbar {
  background: #093f96; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #093f96, #77c2ea); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #093f96, #77c2ea); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #093f96, #77c2ea); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #093f96, #77c2ea); /* Standard syntax */
  padding: 20px 5px;
  box-shadow: 6px 4px 3px #3c4759;
  text-align: center;
}
/* Links within the nav bar */
.navlink {
  font-family: 'Open Sans', sans-serif;
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 20px 20px;
}

.navlink:hover {
  color: #c42929;
  text-decoration: none;
}
/* The name of app 'Sports Doctor' */
#img-div {
  width: 100%;
  height: 30%;
  opacity: 0.5;
}

/* Homepage - div containing about us info */
#about-us-div{
  background-color: #c42929;
  padding: 30px 0px 35px 0px;
  z-index: 1;
  box-shadow: 6px 4px 3px #3c4759;
}
/* Homepage - about us header and paragraph */
#about-us-header, #about-us-paragraph {
  font-family: 'Krona One', sans-serif;
  text-align: center;
  color: #e5e3e3;
}
/* Homepage about us paragraph text */
#about-us-paragraph {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  width: 65%;
  margin: 0 auto;
  line-height: 30px;
}

#home-div-3 {
  height: 200px;
  width: 100%;
  background-color: #093f96;
  box-shadow: 6px 4px 3px #3c4759;
}

button {
  text-align: center;
  background-color: #e5e3e3;
  border-radius: 6px;
  padding: 20px 40px;
  font-family: 'Krona One', sans-serif;
}

#button-div {
  text-align: center;
  margin: 20px;
}

#players-header {
  font-family: 'Krona One', sans-serif;
  color: #093f96;
  text-align: center;
}

#choose-player-header {
  font-family: 'Open Sans', sans-serif;
  color: #093f96;
  text-align: center;
}

#players-list-div {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  border: 1px solid #093f96;
  border-radius: 4px;
  width: 300px;
  margin: 0 auto;
}

.players-list {
  font-family: 'Open Sans', sans-serif;
  color: black;
}

/* Chart css */
#chartdiv {
  width: 100%;
  height: 500px;
  margin: auto;
}
