/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @media (min-width 300px) {

 }

 @media (min-width 700px) {

 }

body {
  background-color: #e6e8ed;
}

#logo-div {
  font-size: 28px;
  font-family: 'Sonsie One', cursive;
  color: white;
  text-shadow: 4px 4px #e82929;
  text-align: left;
  padding: 20px 0px;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: white;
}
/* Nav bar used on all pages */
.navbar {
  background: #093f96; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #093f96, #77c2ea); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #093f96, #77c2ea); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #093f96, #77c2ea); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #093f96, #77c2ea); /* Standard syntax */
  padding: 20px 5px;
  box-shadow: 6px 4px 3px #3c4759;
  text-align: right;
}
/* Links within the nav bar */
.navlink {
  font-family: 'Krona One', sans-serif;
  color: white;
  text-decoration: none;
  font-size: 14px;
  padding: 20px 20px;
}

.navlink:hover {
  color: #c42929;
  text-decoration: none;
}
/* The name of app 'Sports Doctor' */

#img-div {
  background-color: #f4f7fc;
  background-image: image('https://i.ytimg.com/vi/ZxsSPnxuizg/maxresdefault.jpg');
  width: 100%;
  height: 200px;
  box-shadow: 6px 4px 3px #3c4759;
  padding: 5px;
  text-align: center;
}

#tagline-div {
  text-align: center;
  margin: 0 auto;
  font-family: 'Krona One', cursive;
  color: #3e83f2;
  padding-top: 30px;
  /*text-shadow: 4px 4px #e82929;*/
  font-size: 40px;
}

#tagline-div-2 {
  text-align: center;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  color: #3e83f2;
  font-size: 36px;
}

/* Homepage - div containing about us info */
#about-us-div{
  background-color: #093f96;
  background: -webkit-linear-gradient(left top, #093f96, #1d62d1); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #093f96, #1d62d1); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #093f96, #1d62d1); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #093f96, #1d62d1); /* Standard syntax */
  padding: 30px 0px 35px 0px;
  box-shadow: 6px 4px 3px #3c4759;
  margin-top: 15px;
}
/* Homepage - about us header and paragraph */
.about-us-header {
  font-family: 'Krona One', sans-serif;
  font-size: 24px;
  text-align: center;
  color: #e5e3e3;
}
/* Homepage about us paragraph text */
.about-us-paragraph {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  width: 65%;
  margin: 0 auto;
  line-height: 30px;
  text-align: center;
  color: #e5e3e3;
}

#home-div-3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  padding: 20px;
  color: #e5e3e3;
  text-align: center;
  height: 200px;
  background: #c42929; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #c42929, #e25b58); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #c42929, #e25b58); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #c42929, #e25b58); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #c42929, #e25b58); /* Standard syntax */
  box-shadow: 6px 4px 3px #3c4759;
}
/* search players button*/
button {
  text-align: center;
  background-color: #e5e3e3;
  border-radius: 6px;
  padding: 20px 80px;
  font-family: 'Krona One', sans-serif;
  font-size: 16px;
}

button:hover {
  background-color: #aeb2b1;
}
/*div the search button is in*/
#button-div {
  text-align: center;
  margin: 20px;
}

/* Second page - players index page */
/* Heading says Players */
#players-header {
  font-family: 'Krona One', sans-serif;
  color: #093f96;
  text-align: center;
}

#choose-player-header {
  font-family: 'Open Sans', sans-serif;
  color: #093f96;
  text-align: center;
}

#players-list-div {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  border: 1px solid #093f96;
  border-radius: 4px;
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  line-height: 1.6;
}

.players-list {
  font-family: 'Open Sans', sans-serif;
  color: black;
}

.players-list:hover {
  color: red;
}

/* Player show page*/
.div-specs-1 {
  height: 150px;
  margin-bottom: 20px;
  margin-top: -17px;
  background-color: #c42929;
  font-family: 'Krona One', sans-serif;
  text-align: left;
  /*padding: 5px 5px 5px 10px;*/
  color: #e5e3e3;
  box-shadow: 6px 4px 3px #3c4759;
  background: -webkit-linear-gradient(left top, #c42929, #77c2ea); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #c42929, #77c2ea); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #c42929, #77c2ea); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #c42929, #77c2ea); /* Standard syntax */
}
.player-name {
  font-family: 'Krona One', sans-serif;
  padding: 2px 20px;
}
.player-pos-school {
  font-family: 'Open Sans',sans-serif;
  padding: 2px 20px;
}

.holder-div {
  background-color: #093f96;
  padding: 5px 0px 5px 10px;
  z-index: 1;
  color: #dddbdb;
  height: 280px;
  box-shadow: 6px 4px 3px #3c4759;
  background: -webkit-linear-gradient(left top, #093f96, #77c2ea); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #093f96, #77c2ea); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #093f96, #77c2ea); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #093f96, #77c2ea); /* Standard syntax */
  overflow: scroll;
}

.div-specs-2, .div-specs-3, .div-specs-4, .div-specs-5 {
  font-family: 'Open Sans',sans-serif;
}

.div-specs-2:hover, .div-specs-3:hover, .div-specs-4:hover, .div-specs-5:hover {
  color: #f7f7f7;
}

.div-specs-2 {
  float: left;
  padding: 5px 70px 5px 10px;
  text-align: left;
}

.div-specs-3 {
  padding: 5px 80px 5px 80px;
  float: left;
  text-align: center;
}

.div-specs-4 {
  padding: 5px 70px 5px 70px;
  float: left;
  text-align: center;
}
.div-specs-5 {
  padding: 5px 10px 5px 75px;
  float: left;
  text-align: right;
}

.specs-titles {
  text-decoration: underline;
}

#algo {
  clear: left;
  text-align: center;
  font-family: 'Open Sans',sans-serif;
  font-size: 28px;
}

#algo:hover {
  color: #f7f7f7;
}

.vert-line {
  width: 1px;
  height: 100px;
  display: inline;
}

/* Chart css */
.div-of-charts {
  display: inline;
}
#chartdiv {
  width: 30%;
  float: left;
  height: 300px;
  margin-left: 120px;
  background-color: #c2c6ce;
}

#chartdiv1 {
  float: left;
  width: 50%;
  height: 400px;
}
